<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>all Chats!</h3>
    <form method="get" action="/Chat/new">
        <button>Add message</button>

    </form>
    <br>

<% for (let Chat of Chats) { %>
    <div class="Chat">
       <i> <p>from : <%= Chat.from %></p> </i>
    <div class="msg">
        <p>message : <%= Chat.msg %></p>
    </div>

   <i> <p>received by : <%= Chat.to %></p></i>
    <hr>
    </div>
    <br><br>
<% } %>

</body>
</html>
