<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new chat</title>
</head>
<body>
    <h2>write the new chat </h2>
    <form method="post" action="/Chats">
        <input placeholder="who are you" name="from"><br>
        <textarea name="msg" >message </textarea><br>
       <input placeholder="add receiver" name="to"><br><br>
       <button>create chat</button><br>
    </form>
    
</body>
</html>