<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new chat</title>
        <link rel="stylesheet" href="/style.css">
</head>
<body class="create-page">
    <h2>WRITE THE NEW CHAT  . </h2>
    <form method="post" action="/Chats">
        <input placeholder="who are you" name="from"><br>
        <textarea name="msg" >message </textarea><br>
       <input placeholder="add receiver" name="to"><br><br>
       <button>create chat</button><br>
    </form>
    
</body>
</html>